*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.5px;
}
li{
  list-style: none;
}
header{
  background-color: #0d1225;
  width: 100%;
  height: auto;
  padding-bottom: 2em;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #4C9CF1;
  z-index: 100;
}

.icon-bar{
  background-color: #fff;
}
.navbar-right li a:hover{
  background-color: #ff5992;
  color: #fff;
}
section{
  width: 100%;
  height: auto;
}

.informacionBeneficio{
  color: #ff5992;
}
#containerImgBeneficio{
  width: 100%;
  height: auto;
  padding-bottom: 2em;
}
.imgBeneficio{
  background-image: url(../images/imgBeneficio.jpg);
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;  
  background-repeat: no-repeat;
}
h2, h4, .oferta{
  color: #ff5992;
}
h2, h4{
  margin: 2em;
}
.containerBeneficio h3{
  width: 50%;
  height: auto;
  text-align: center;
  padding: 1em;
  background-color: #000;
}
h3{
  color: #fff;
}
.text{
  margin-top: 16em;
}
.text h2{
  font-size: 4em;
}
.btnInscribirse{
  padding: 1em;
  background-color: #a4d555;
  border: 2px transparent;
  border-radius: 50px 20px;
  margin-left: 20%;
  margin-top: 2em;
}
.images{
  color: #fff;
}
.zumba, .yoga, .pilates, .cardio{
  padding-bottom: 2em;
}
.zumba{
  background-color: #dae9e4;
}
.yoga{
  background-color: #8bcbcb;
}
.pilates{
  background-color: #ecc7cd;
}
.cardio{
  background-color: #fdae84;
}
.container-images{
  width: 100%;
}
.container-images img{
  max-width: 90%;
  margin: 2em;  
  border-radius: 50px 20px;
}
.btnDetalle{
  padding: 1em;
  background-color: #a4d555;
  border: 2px transparent;
  border-radius: 50px 20px;
  margin-left: 30%;
  margin-top: 1.5em;
}
.titleTarjeta{
  color: #0d1225;
}
.imgClubBeneficio{
  border-radius: 50px 20px;
}

#Conocenos{
  background-image: url(../images/fondo.jpg);
  width: 100%;
  height: auto;
  background-size: 100% 100%;  
  background-repeat: no-repeat;
  margin-top: 2em;
}
.conocenos{
  margin-top: 3em;
}
.familia{
  width: 35%;
  height: auto;
}
.conocenos ul li{
  margin-top: 2em;
  font-size: 1.5em;
  text-align: justify;
}
footer{
  margin-top: 2em;
  background: #0d1225;
  color: white;
  height: auto;
  padding-bottom: 2em;
}
.contenido-footer, .redSocial{
  margin-top: 2.5em;
}
.eMail{
  width: 50%;
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid white;
  padding: 9px 10px 9px 10px;
  box-shadow: none;
}
.btnEmail{
  background-color: transparent;
  padding: 0.50em;
  letter-spacing: 4px;
}
.icon{
  margin-left: 1em;
}
/* Modal inscribirse */
.modal-wrapper{
  display: hidden;
}
input{
  width: 100%;
  padding: 12px;
}
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -700px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}