@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo{
      width: 8em;
    }
    .containerBeneficio h3{
      width: 100%;
    }
    .btnInscribirse{
      margin-left: 30%;
    }
    .btnDetalle{
      padding: 0.50em;
      margin-left: 22%;
    }
    .text h2{
      font-size: 2.5em;
    }
    #ClubBeneficios{
      height: auto;
    }
    #ClubBeneficios .text-center h2,
    #Servicios .tex-center h2,
    #NuestrosGimnasios .text-center h2,
    #Conocenos .text-center h2{
      font-size: 1.8em;
    }
    #ClubBeneficios .text-center h3{
      font-size: 0.99em;
    }
    #ClubBeneficios .conocenos .titleTarjeta{
      font-size: 1.5em;
    }
    .conocenos ul li{
      font-size: 1em;
    }
    #Servicios{
      margin-top: 12em;
    }

  }
